@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Warszawa<br />
    <abbr title="Phone">P:</abbr>
    000 000 000
</address>

<address>
    <strong>Wsparcie:</strong>   <a href="mailto:wsparcie@fabryka.com">wsparcie@fabryka.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@fabryka.com">marketing@fabryka.com</a>
</address>